@import url('https://fonts.googleapis.com/css?family=Cookie|Grand+Hotel|Source+Code+Pro:300');
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  background-color: #fefefe;
}
h1 {
  font-family: 'Cookie', cursive;
  font-size: 100px;
  font-weight: 100;
}
h2 {
  margin-top: -5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -5px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  height: 100vh;
}
.box {
  max-width: 960px;
  margin: 0 auto;
}
header {
  position: relative;
  top: 20vh;
}
.heading {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px -5px #555;
  color: #ee4e00;
  background-color: #f9f9f9;
}
.dot {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.dots {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.purple {
  background-color: #a138ac;
  animation-delay: 0.3s;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.blue {
  background-color: #0099dc;
  animation-delay: 0.6s;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.yellow {
  background-color: #ffc800;
  animation-delay: 0.9s;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.orange {
  background-color: #ee4e00;
  animation-delay: 1.2s;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes move {
    from {transform: translateY(-10px);}
    to {transform: translateY(0px);}
}
.heading p {
  line-height: 1.2;
  color: #a138ac;
  font-family: 'Grand Hotel', cursive;
  font-size: 70px;
}
.menu-nav nav ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;  
}

.menu-nav nav ul li {
  font-family: 'Source Code Pro', monospace;
  color: #ee4e00;
  background-color: #f9f9f9;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -5px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -5px #555;
  height: 45px;
  margin-left: 15px;
  margin-right: 15px;
}
.nav-footer {
  position: absolute;
  bottom: 0;
  background-color: #ee4e00;
  width: 100%;
  height: 70px;
  box-shadow: 0px -5px 10px -5px #242121;
}
.nav-footer ul {
  text-align: center;
  width: 100%;
}
.nav-footer ul li {
  padding: 10px;
  color: #fefefe;
}
.nav-footer ul a:visited{
  color: #fefefe;
}
@media (max-width: 375px) {
  header {
  position: relative;
  top: 0;
}
  .heading {
    margin-top: 0;
  }
  .heading p {
    margin-top: 5px;
    font-size: 55px;
  }
  
  
}

